.App {
  border : 1px solid #3d3d3d;
  margin : 50px 30px;
  padding: 25px 15px;
}

.todo-Container {
  display: flex;
  flex-direction:  column;
}

.todo-Container ul li {
  width: 500px;
  overflow-wrap: break-word;
  list-style-type: "🫱";
  cursor: pointer;
}

.done {
  background-color: red;
}